* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 7%;
  margin-left: 25px;
  margin-top: -15px;
}

#home, #aboutme, #projects, #contact {
    max-width: 1000px;
    margin-inline: auto;
    scroll-margin-top: 110px;
}

html {
    scroll-behavior: smooth;
}



body {
    display: flex;
    font-family: 'JetBrains Mono', monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    line-height: 1.6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  background: black;
  position: sticky;
  top: 0;
  background-color: #000000; 
  padding: 10px 0;
  z-index: 1000;
  width: 100%; 
}

nav a {
  text-decoration: underline solid transparent;
  transition: 0.8s ease-in-out; 
}

nav a:hover {
  text-decoration-color: rgb(198, 198, 198);
}

#navigation {
  display: flex;
  height: 100%;
  gap: 20px;
  align-items: center;
  padding-right: 20px;
}

.nav-link {
  color: crimson;
}

/*  HOMEEEEEEEEEEEEEE */

#home {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
    opacity: 0px;
    animation: fadeIn 2s ease-in forwards;
}

#home h1 {
    margin-top: 10px;
    color: crimson;
    margin-bottom: 30px;
    font-size: 3.5rem;
}

#home h3 {
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 30px;
    margin-top: 100px;
}

.home-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
    position: relative;
    background: rgb(0, 0, 0);
    color: crimson;
    text-decoration: none;
    border-radius: 12px;
    transition: 
    transform 0.4s ease,
    color 0.3s ease,
    background 0.3s ease;
}

.home-buttons a::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 16px 32px rgb(241, 29, 29);
    opacity: 0;
    transform: translateY(8px);
    transition: 
    opacity 0.4s ease,
    transform 0.4s ease;
}

.home-buttons a:hover {
    color: #ffffff;
    background: rgb(0, 0, 0);
    transform: translateY(-5px);
}

.home-buttons a:hover::after {
    opacity: 1;
    transform: translateY(0);
}


.btn-primary {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    color: crimson;
}

.btn-secondary {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    color: crimson;
    
}

/* About */

#border-aboutme {
    background-color: #000000;
}

#aboutme {
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#aboutme h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: crimson;
}

#aboutme p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}

/* Skills */

#skills h2 {
    margin-left: 100px;
    margin-top: 125px;
    margin-bottom: 30px;
    font-size: 2.15rem;
    color: crimson;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#skills {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    background-color:#000000
}

#skills-list li {
    background-color: rgb(0, 0, 0);
    color: rgb(188, 0, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    transition: box-shadow 0.5s ease, transform 0.5 ease;
}

#skills-list li:hover {
    box-shadow: 0 8px 16px;
    transform: translateY(-5px);
    color: #aeaeae;
    background-color: #000000;
}

#projects {
    padding: 50px;
    color: crimson;
    gap: 20px;
    margin-left: 50px;
    text-align: center;
}

#projects ol {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    display: flex;
    border: 2px solid crimson;
    padding: 12px 24px;
    background-color: crimson;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    cursor: pointer;
    display: inline-flex;
    margin-top: 30px;
    text-align: center;
}

#first-project img{
    width: 500px; 
    display: inline-flex;
    border-radius: 50px;
}

#second-project img{
    width: 500px; 
    display: inline-flex;
    border-radius: 50px;
}

#third-project img{
    width: 500px; 
    display: inline-flex;
    border-radius: 50px;
}

#first-project {
    margin-bottom: 100px;
}

#second-project{
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
}

#projects p {
    display: flex;
    align-items: center;
    justify-content: center;
}





/* forms */

#contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  margin: 30px;
  justify-content: center;
  background-color: #000000;
}

#contact h2 {
  font-size: 2.5rem;
  color: crimson;
}

#contact-content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 8px;
}

form {
  justify-content: center;
  text-align: center;
}

#name-email {
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

#form-email,
#form-name {
  display:flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

label {
  font-weight: bold;
  color: crimson;
}

#form-email input,
#form-name input,
#form-message textarea {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(217, 215, 215);
}


#form-message {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin-left: 10px;
}

#contact-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#contact button {
    border: 2px solid crimson;
    padding: 12px 24px;
    background-color: crimson;
    color: white;
    border-radius: 6px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
}
